.ticketFont {
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
}

#letraMenor {
    font-size: 10px;
    font-family: "Roboto Mono", monospace;
}

td,
th,
tr,
table {
    /*border-top: 1px solid black;*/
    border-collapse: collapse;
}

td.linea,
th.linea {
    width: 250px;
    max-width: 250px;
    text-align: center;
    align-content: center;
}

.sinborde {
    border: 0;
    border-bottom: 1px solid black;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
}

td.producto,
th.producto {
    width: 250px;
    max-width: 250px;
}

td.cantidad,
th.cantidad {
    width: 250px;
    max-width: 250px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 250px;
    max-width: 250px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 260px;
    max-width: 260px;
}
.contorno {
    border: dashed 2px;
}

.imgTicket {
    max-width: inherit;
    width: inherit;
}

@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }
}
